.Notify {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Title {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.Message {
  font-size: 18px;
  font-weight: bold;
  color: white;
}